body {
  background-image: url("confectionary.png");
  background-repeat: repeat;
  margin: 0;
}

h1,h3 {
  margin: 5px;
}

.user {
  background-color: #f9f9fa;
  margin: 10px;
  padding: 10px;
  border-color: #eeeeee;
  border-width: 3px;
  border-style: solid;
  width: 400px;
  text-align: center;
  float: left;
  clear: none;
  height: 420px;
}
.voteButton {
}

.voteButton:hover{
  background-color: #d7d7d9;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  height: 18px;
}

.messageBox {
  background-color: #f9f9fa;
  margin: 10px;
  padding: 10px;
  border-color: #eeeeee;
  border-width: 3px;
  border-style: solid;
  width: 400px;
  text-align: left;
  float: left;
  clear: none;
}

.messageSender {
  font-weight: bold;
  color: #999999;
}

.userpic {
  margin: 5px;
  max-height: 300px;
  max-width: 350px;
}

.gender {
  color: #aaaaaa;
}

.voteButton {
  margin: 2px;
}

.likesForm {
  height: 20px;
}

.navLinks {
  margin-left: 20px;
  margin-top: 10px;
  display: inline;
  float: left;
}

.loginForm {
  margin-left: 20px;
  margin-top: 10px;
  float: left;
}

.messages, .logout{
  margin: 20px;
  padding: 5px;
}

.messages:hover, .logout:hover{
  background-color: #d7d7d9;
  margin-top: 3px;
}

.messageText {
  width: 360px;
}

.nav {
  width: 100%;
  padding: 10px;
  margin: 0px;
  background-color: #f9f9fa;
  border-color: #eeeeee;
  border-style: solid;
  border-width: 3px;
  overflow: auto;
}

.inbox {
  margin-top: 20px;
  left: 20px;
  width: 95%;
  height: 100%;
  background-color: white;
  border-style: solid;
  border-width: 3px;
  display: none;
  position: absolute;
  border-color: #eeeeee;
  padding: 10px;
}

.main {
  margin: 30px;
}

.message{
  text-align: left;
}